.row {
    display: flex;
  }
  
  .column {
    flex: 45%;
    margin: 2.5%;
    border: 2px solid #4b805f;
    border-radius: 20px 20px;
    text-align: center;
  }
  
  .around {
      display: flex;
    justify-content: space-around	;
  }